<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="logout" class="text-center new-account">Logout</a>
    {{>navbar}}
    <a href="/secret">Secret page here</a>
    <h1>Hello Guys</h1>
    <a href="/register">Register page here</a>
    <a href="/login">Login page here</a>
</body>
</html>